<% @page_title = "Delete Admin: #{@admin.full_name}" %>

<%= link_to('&laquo; Back to List'.html_safe, staff_admins_path, :class => 'back-link') %>

<div class="admin delete">
  <h1><%= @page_title %></h1>
  <p>Are you sure you want to <strong>permanently</strong> delete this admin?</p>

  <p class="item"><%= @admin.full_name %></p>

  <%= form_tag(staff_admin_path(@admin), :method => :delete) do %>
    <div id="operations">
      <%= submit_tag("Delete Admin") %>
    </div>
  <% end %>
</div>
