<% @page_title = "Administrators" %>

<div class="admin listing">
  <h1><%= @page_title %></h1>
  
  <%= link_to("Create New Admin", new_staff_admin_path, :class => 'action') %>
  
	<table class="list">
	  <tr>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Email</th>
	    <th>Enabled</th>
	    <th>&nbsp;</th>
	    <th>&nbsp;</th>
	  </tr>

	  <% @admins.each do |admin| %>
	  <tr>
	    <td><%= admin.first_name %></td>
	    <td><%= admin.last_name %></td>
	    <td><%= admin.email %></td>
	    <td><%= status_tag(admin.enabled) %></td>
	    <td><%= link_to('Edit', edit_staff_admin_path(admin), :class => 'action') %></td>
	    <td><%= link_to('Delete', delete_staff_admin_path(admin), :class => 'action') %></td>
	  </tr>
	  <% end %>
	</table>

	<div class="pagination">
	  <%= will_paginate(@admins, :class => 'apple_pagination') %>
	</div>
	
</div>
