<% @page_title = "Edit Portfolio: #{truncate(strip_tags(@portfolio.title), :length => 30)}" %>

<%= link_to('&laquo; Back'.html_safe, staff_portfolios_path, :class => 'back-link') %>

<div class="portfolio edit">
  <h1><%= truncate(strip_tags(@portfolio.title), :length => 50) %></h1>


  <div class="tabbed-box">
    <%= form_for([:staff, @portfolio]) do |f| %>
      <section>
        <%= render(:partial => "form", :locals => {:f => f}) %>
      </section>

      <div class="clear"</div>


      <div id="operations">
        <%= submit_tag "Update Portfolio" %>
      </div>
    </section>
    <% end %>
  </div>
</div>
